/* DOWNLOAD APP BUTTON */

.glass-install-btn {
    display: block;
    position: relative;
    width: 210px;
    height: 52px;
    margin: 0 auto 18px auto;
    padding: 0;

    box-sizing: border-box;

    background: linear-gradient(135deg, #ffd700, #ffae00);
    color: #160a2b;

    border: 2px solid #ffd700;
    border-radius: 14px;

    font-size: 15px;
    font-weight: 800;
    letter-spacing: 0.5px;

    text-align: center;
    cursor: pointer;

    box-shadow: 0 0 18px rgba(255, 215, 0, 0.45);

    z-index: 20;
}

.glass-install-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 25px rgba(255, 215, 0, 0.7);
}

.glass-install-btn:active {
    transform: scale(0.97);
}
